---
import Layout from '@layouts/Layout.astro'
import AboutMain from '@components/AboutMain.astro'
import SideBar from '@components/SideBar.astro'

const kvTitleEn = 'about'
const kvTitleJa = 'frocariについて'
const kvProps = { kvTitleEn, kvTitleJa }

const breadcrumbItems = [
  {
    name: 'ホーム',
    href: '/',
  },
  {
    name: 'frocariについて',
    href: '/about/',
  },
]

const metaTitle = `frocariについて | `
const metaDescription = 'frocari運営者のkomosyuに関する情報'
const metaProps = { metaTitle, metaDescription }
---

<Layout metaProps={metaProps}>
  <main class="container">
    <div class="main">
      <AboutMain kvProps={kvProps} />
    </div>
    <SideBar breadcrumbItems={breadcrumbItems} />
  </main>
</Layout>

<style lang="scss">
  @use '../../styles/variable' as var;

  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      grid-template-columns: auto;
      width: 34rem;
      margin: 0 auto;
    }
  }
</style>
