---
import type { Category } from '../../../type'
import { client } from '../../lib/newt/client'

export async function getStaticPaths() {
  const categoryData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_CATEGORY,
  })
  const categoryContents = categoryData.items
  //   console.log(categoryContents[0])
  return [
    categoryContents.map((categoryContent) => ({
      params: {
        slug: categoryContent.slug,
      },
    })),
  ]
}
---

<div class="">test</div>
