---
import Layout from '../../layouts/Layout.astro'
import MainPosts from '../../components/MainPosts.astro'
import SideBar from '../../components/SideBar.astro'
import PopularPosts from '../../components/PopularPosts.astro'

const kvTitleEn = 'category'
const kvTitleJa = 'キャリアコラム'
const kvProps = { kvTitleEn, kvTitleJa }
---

<Layout title={`${kvTitleJa}のページ`}>
  <main class="container">
    <div class="main">
      <MainPosts kvProps={kvProps} />
      <PopularPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }
</style>
