---
import { client } from '../../../lib/newt/client'

export async function getStaticPaths({ paginate }) {
  const categoryData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_CATEGORY,
  })
  const categoryContents = categoryData.items
  const postData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  })
  return categoryContents.map((categoryContent) => {
    const postsContents = postData.items.filter(
      (item) => item.category.slug === categoryContent.slug
    )
    return paginate(postsContents, {
      params: { category: categoryContent.slug },
      pageSize: 1,
    })
  })
}
const { page } = Astro.props
const params = Astro.params
console.log(page, params)
---

<div class="">[category][page]</div>
