---
import NotFoundMain from '@components/NotFoundMain.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="404">
  <main class="container">
    <div class="main">
      <NotFoundMain />
    </div>
  </main>
</Layout>
