---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import SideBar from '../components/SideBar.astro'
import MainPosts from '../components/MainPosts.astro'
import PopularPosts from '../components/PopularPosts.astro'
import { client } from '../lib/newt/client'
import type { GetStaticPathsOptions } from 'astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  })
  const postsContents = postsData.items
  return paginate(postsContents, { pageSize: 10 })
}

const kvTitleEn = 'all'
const kvTitleJa = 'すべての記事'
const kvProps = { kvTitleEn, kvTitleJa }

const { page } = Astro.props

const pageProps = { page }
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <div class="main">
      <MainPosts
        kvProps={kvProps}
        pageProps={pageProps}
        postsContents={page.data}
      />
      <PopularPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    // margin: 8rem auto 0;
    margin: 0 auto;
  }
</style>
