---
import { client } from '@lib/newt/client'
import Layout from '@layouts/Layout.astro'
import SideBar from '@components/SideBar.astro'
import PostContent from '@components/PostContent.astro'
import RelationPosts from '@components/RelationPosts.astro'
import type { PostData, PostItem } from '@type/index'

export async function getStaticPaths() {
  const postsData: PostData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
    query: {
      depth: 2,
    },
  })
  const postsContents: PostItem[] = postsData.items

  const pages = postsContents.map((postsContent: PostItem) => {
    return {
      params: {
        slug: postsContent.slug,
      },
      props: {
        postsContent,
      },
    }
  })
  return pages
}

const { postsContent } = Astro.props

const relationContents = postsContent.relation

const breadcrumbItems = [
  {
    name: 'ホーム',
    href: '/',
  },
  {
    name: postsContent.title,
    href: `/${postsContent.slug}/`,
  },
]
---

<Layout title={}>
  <main class="container">
    <div class="main">
      <PostContent postsContent={postsContent} />
      <RelationPosts relationContents={relationContents} />
    </div>
    <SideBar breadcrumbItems={breadcrumbItems} />
  </main>
</Layout>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      grid-template-columns: auto;
      width: 34rem;
      margin: 0 auto;
    }
  }
</style>
