---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import SideBar from '../components/SideBar.astro'
import MainPosts from '../components/MainPosts.astro'
import PopularPosts from '../components/PopularPosts.astro'

import { client } from '../lib/newt/client'
const postsData = await client.getContents({
  appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
  modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  query: {
    limit: 10,
  },
})
const postsContents = postsData.items

const kvTitleEn = 'all'
const kvTitleJa = 'すべての記事'
const kvProps = { kvTitleEn, kvTitleJa }
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <div class="main">
      <MainPosts kvProps={kvProps} postsContents={postsContents} />
      <PopularPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    // margin: 8rem auto 0;
    margin: 0 auto;
  }
</style>
