---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import SideBar from '../components/SideBar.astro'
import MainPosts from '../components/MainPosts.astro'
import PopularPosts from '../components/PopularPosts.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container">
    <div class="main">
      <MainPosts />
      <PopularPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    // margin: 8rem auto 0;
    margin: 0 auto;
  }
</style>
