---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import SideBar from '../components/SideBar.astro'
import MainPosts from '../components/MainPosts.astro'
---

<Layout title="Welcome to Astro.">
  <main class="main">
    <MainPosts />
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .main {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 8rem auto 0;
  }
</style>
