---
import Layout from '../../layouts/Layout.astro'

import SideBar from '../../components/SideBar.astro'
import PostContent from '../../components/PostContent.astro'
import RelationPosts from '../../components/RelationPosts.astro'
---

<Layout title={}>
  <main class="container">
    <div class="main">
      <PostContent />
      <RelationPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }
</style>
