---
import AboutCareer from './AboutCareer.astro'
import AboutContact from './AboutContact.astro'
import AboutLink from './AboutLink.astro'
import AboutProfile from './AboutProfile.astro'
import Kv from './Kv.astro'

const { kvProps } = Astro.props
---

<div class="container">
  <Kv kvProps={kvProps} />
  <AboutProfile />
  <AboutCareer />
  <AboutLink />
  <AboutContact />
</div>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    margin-top: 8rem;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      margin-top: 5rem;
    }
  }
</style>
