---
---

<section class="cotainer">
  <h2 class="c-title__md title">お問合せ</h2>
  <div class="main">
    <a
      href="https://www.twitter.com/messages/compose?recipient_id=1583786873821966336"
      target="_blank"
      rel="noopener noreferrer"
      class="c-text__link c-text__sm mainLink">こちらからどうぞ</a
    >
  </div>
</section>

<style lang="scss">
  .cotainer {
    margin-top: 8rem;
  }
  .title {
    margin-bottom: 1.5rem;
  }
</style>
