---
import { client } from '@lib/newt/client'
import type { CategoryData, CategoryItem } from '@type/index'

const categoryData: CategoryData = await client.getContents({
  appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
  modelUid: import.meta.env.PUBLIC_NEWT_MODEL_CATEGORY,
})

const categoryItems: CategoryItem[] = categoryData.items
---

<footer class="container">
  <nav class="menu">
    <ul class="menuList">
      {
        categoryItems.map((categoryItem: CategoryItem) => (
          <li class="menuItem">
            <a href={`/category/${categoryItem.slug}/`} class="menuItemLink">
              {categoryItem.name}
            </a>
          </li>
        ))
      }
      <li class="menuItem">
        <a href="/about/" class="menuItemLink"> frocariについて</a>
      </li>
    </ul>
  </nav>
  <small class="copy">Copyright © 2021 frocari</small>
</footer>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 12rem 0 2rem;
  }
  .menu {
    margin-bottom: 3rem;
  }
  .menuList {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menuItem {
    &:first-child {
      .menuItemLink {
        &::before {
          content: none;
        }
      }
    }
  }
  .menuItemLink {
    position: relative;
    display: inline-block;
    padding: 2rem;
    font-size: 1.4rem;
    &::before {
      position: absolute;
      top: calc(50% - 0.75rem);
      left: 0;
      content: '';
      width: 1px;
      height: 1.5rem;
      background-color: var(--color-text-black);
    }
  }
  .copy {
    font-size: 1.2rem;
    font-family: 'Urbanist', sans-serif;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      margin: 8rem 0 2rem;
    }
    .menu {
      margin-bottom: 5rem;
    }
    .menuList {
      flex-wrap: wrap;
    }
    .menuItemLink {
      padding: 0.5rem 1.5rem;
      font-size: 1.2rem;
    }
  }
</style>
