---
import type { Post } from '../../type'
import Kv from './Kv.astro'
import MainPost from './MainPost.astro'
import Pagination from './Pagination.astro'
import PopularPosts from './PopularPosts.astro'

const posts: Post[] = [
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_01.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_02.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_03.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_04.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_05.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_06.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_07.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_08.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_09.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
  {
    href: '/post/',
    imgSrc: '/asset/img/home/post_10.jpg',
    imgAlt: 'post1',
    categoryName: 'コラム',
    categoryHref: '/column/',
    timeName: '2023.01.01',
    timeDate: '2023-01-01',
    title: '自分の考えているキャリアプランを発表します',
    tags: [
      {
        href: '/career/',
        name: '#キャリア',
      },
      {
        href: '/nensyu/',
        name: '#年収',
      },
      {
        href: '/tensyoku/',
        name: '#転職',
      },
    ],
  },
]

const { kvProps } = Astro.props
---

<div class="container">
  {kvProps && <Kv kvProps={kvProps} />}
  <ul class="list">
    <MainPost posts={posts} />
  </ul>
  <Pagination />
  <!-- <PopularPosts /> -->
</div>

<style lang="scss">
  .container {
    margin-top: 8rem;
  }
  .list {
    display: grid;
    // grid-template-columns: repeat((2, 44rem));
    grid-template-columns: repeat((2, 1fr));
    gap: 3rem;
    // gap: 3rem 4rem;
  }
</style>
