---
import Kv from './Kv.astro'
import MainPost from './MainPost.astro'
import Pagination from './Pagination.astro'

const { kvProps, pageProps, postsContents } = Astro.props
---

<div class="container">
  {kvProps && <Kv kvProps={kvProps} />}
  <ul class="list">
    <MainPost postsContents={postsContents} />
  </ul>
  <Pagination pageProps={pageProps} />
</div>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    margin-top: 8rem;
  }
  .list {
    display: grid;
    grid-template-columns: repeat((2, 1fr));
    gap: 3rem;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      margin-top: 5rem;
    }
    .list {
      grid-template-columns: auto;
      gap: 2rem;
    }
  }
</style>
