---
import type { Post } from '../../type'
import Kv from './Kv.astro'
import MainPost from './MainPost.astro'
import Pagination from './Pagination.astro'
import PopularPosts from './PopularPosts.astro'

const { kvProps, postsData } = Astro.props
---

<div class="container">
  {kvProps && <Kv kvProps={kvProps} />}
  <ul class="list">
    <MainPost postsData={postsData} />
  </ul>
  <Pagination />
  <!-- <PopularPosts /> -->
</div>

<style lang="scss">
  .container {
    margin-top: 8rem;
  }
  .list {
    display: grid;
    // grid-template-columns: repeat((2, 44rem));
    grid-template-columns: repeat((2, 1fr));
    gap: 3rem;
    // gap: 3rem 4rem;
  }
</style>
