---
import { Image } from '@astrojs/image/components'
---

<article class="container">
  <div class="header">
    <!-- thumbnail -->
    <div class="headerThumbnail">
      <Image
        src="/asset/img/home/post_01.jpg"
        alt=""
        width={180}
        height={180}
        class="headerThumbnailImg"
      />
    </div>
    <!-- content -->
    <div class="headerContent">
      <!-- title -->
      <h1 class="headerContentTitle">
        自分の考えているキャリアプランを発表しますというお話でございますよ皆様ね
      </h1>
      <!-- info -->
      <div class="headerContentInfo">
        <!-- category -->
        <a href="" class="c-text__label headerContentInfoCategory">コラム</a>
        <!-- tag -->
        <div class="headerContentInfoTag">
          <ul class="headerContentInfoTagList">
            <li class="headerContentInfoTagItem">
              <a href="" class="c-text__tag headerContentInfoTagItemLink"
                >#キャリア</a
              >
            </li>
            <li class="headerContentInfoTagItem">
              <a href="" class="c-text__tag headerContentInfoTagItemLink"
                >#年収</a
              >
            </li>
            <li class="headerContentInfoTagItem">
              <a href="" class="c-text__tag headerContentInfoTagItemLink"
                >#転職</a
              >
            </li>
          </ul>
        </div>
        <!-- date -->
        <time datetime="2023-01-01" class="c-text__time headerContentInfoDate"
          >2023.01.01</time
        >
      </div>
    </div>
  </div>
</article>

<style lang="scss">
  .headerContentTitle {
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 1.5;
  }
</style>
