---
import Breadcrumb from './Breadcrumb.astro'
import SideBarKeywords from './SideBarKeywords.astro'
import SideBarSearch from './SideBarSearch.astro'
import SidebarBanner from './SidebarBanner.astro'

const { items } = Astro.props
---

<section class="container">
  {items && <Breadcrumb items={items} />}
  <SideBarSearch />
  <SideBarKeywords />
  <SidebarBanner />
</section>

<style lang="scss">
  .container {
    position: sticky;
    top: 0;
    height: fit-content;
    margin-top: 4rem;
    padding-top: 4rem;
  }
</style>
