---
import { client } from '../lib/newt/client'

const tagData = await client.getContents({
  appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
  modelUid: import.meta.env.PUBLIC_NEWT_MODEL_TAG,
})
const tagItems = tagData.items
---

<div class="container">
  <h2 class="title">キーワード</h2>
  <div class="main">
    <ul class="mainList">
      {
        tagItems.map((tagItem) => (
          <li class="mainItem">
            <a href={tagItem.slug} class="mainItemLink">
              {tagItem.name}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  .container {
    margin-top: 6rem;
  }
  .title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
  }
  .main {
    border: 1px solid var(--color-black);
    border-radius: 1rem;
  }
  .mainList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
    padding: 1.5rem;
  }
  .mainItemLink {
    font-size: 1.2rem;
    background-image: linear-gradient(
      var(--color-text-black),
      var(--color-text-black)
    );
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: 0 100%;
  }
</style>
