---
import SideBarKeywords from './SideBarKeywords.astro'
import SideBarSearch from './SideBarSearch.astro'
import SidebarBanner from './SidebarBanner.astro'
---

<section class="container">
  <SideBarSearch />
  <SideBarKeywords />
  <SidebarBanner />
</section>
