---
import { Image } from '@astrojs/image/components'

const banners = [
  {
    href: 'https://komosyu.dev',
    imgSrc: '/asset/img/common/banner_komosyu.jpg',
    imgAlt: 'komosyu blog',
  },
]
---

<div class="container">
  <ul class="list">
    {
      banners.map((banner) => (
        <li class="item">
          <a href={banner.href} rel="noopener noreferrer" class="itemLink">
            <Image
              src={banner.imgSrc}
              alt={banner.imgAlt}
              width="280"
              height="160"
              class="itemLinkImg"
            />
          </a>
        </li>
      ))
    }
  </ul>
</div>

<style lang="scss">
  .container {
    margin-top: 6rem;
  }
  .itemLink {
    display: block;
    width: 100%;
    height: 16rem;
  }
  .itemLinkImg {
    width: 100%;
    height: 100%;
  }
</style>
