---
import Breadcrumb from './Breadcrumb.astro'
import Keywords from './Keywords.astro'
// import Search from './Search.astro'
import Search from './Search.tsx'
import Banner from './Banner.astro'

const { breadcrumbItems } = Astro.props
---

<section class="container">
  {breadcrumbItems && <Breadcrumb breadcrumbItems={breadcrumbItems} />}
  <Search />
  <Keywords />
  <Banner />
</section>

<style lang="scss">
  @use '../styles/variable' as var;

  .container {
    position: sticky;
    top: 0;
    height: fit-content;
    margin-top: 4rem;
    padding-top: 4rem;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      display: none;
    }
  }
</style>
