---
import { client } from '@lib/newt/client'
import type { GetStaticPathsOptions } from 'astro'
import type { PostData, PostItem } from '@type/index'
import Layout from '@layouts/Layout.astro'
import SideBar from '@components/SideBar.astro'
import MainPosts from '@components/MainPosts.astro'
import PopularPosts from '@components/PopularPosts.astro'
import useSearchResult from '@components/useSearchResult'
import { match } from 'assert'
import SearchResultPosts from '@components/SearchResultPosts'

// console.log(q)
// const { test } = useSearchResult()
// console.log(test)
// console.log(111, queryParam)
// useSearchResult()
// console.log(queryParam)
// const url = new URL(Astro.request.url)
// console.log(url)
// console.log(Astro.url)
// console.log(Astro.url().query.search)
// const search = Astro.url.searchParams.get('search')! || '999'
// console.log(search)
// console.log(Astro.url.searchParams.get('search'))

// const localStrage = Astro.storage.local

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsData: PostData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
    // query: { title: { match: '試験' } },
  })

  const postsContents: PostItem[] = postsData.items

  return paginate(postsContents, { pageSize: 10 })
}

const kvTitleEn = 'all'
const kvTitleJa = 'すべての記事'
const kvProps = { kvTitleEn, kvTitleJa }

const { page } = Astro.props

const pageProps = { page }
---

<Layout>
  <main class="container">
    <div class="main">
      <!-- <SearchResult client:only /> -->
      <MainPosts
        kvProps={kvProps}
        pageProps={pageProps}
        postsContents={page.data}
      />
      <!-- <SearchResultPosts client:only /> -->
      <PopularPosts />
    </div>
    <SideBar />
  </main>
</Layout>

<style lang="scss">
  @use '../../styles/variable' as var;

  .container {
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 7.5rem;
    width: 126.5rem;
    margin: 0 auto;
  }

  @media screen and (max-width: var.$break-point-sp) {
    .container {
      grid-template-columns: auto;
      width: 34rem;
      margin: 0 auto;
    }
  }
</style>
