---
import '@styles/global.scss'
import '@styles/import.scss'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

const { metaProps } = Astro.props
const metaTitle = metaProps?.metaTitle
const metaDescription = metaProps?.metaDescription
  ? metaProps.metaDescription
  : import.meta.env.PUBLIC_SITE_DESCRIPTION

const gtm = import.meta.env.GTM_CODE
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZW16V1MTJM"
    ></script>
    <script define:vars={{ gtm }}>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date())

      gtag('config', gtm)
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={metaDescription} />
    <title>{metaTitle}frocari</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="body">
    <Header />
    <slot />
    <Footer />
    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
    </style>

    <script src="../js/index.js"></script>
  </body>
</html>
