---
import type { GetStaticPathsOptions } from 'astro'
import { client } from '../../lib/newt/client'
import Pagination from '../../components/Pagination.astro'

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsData = await client.getContents({
    appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
    modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
  })
  const postsContents = postsData.items
  return paginate(postsContents, { pageSize: 2 })
}

const postsData = await client.getContents({
  appUid: import.meta.env.PUBLIC_NEWT_APP_UID,
  modelUid: import.meta.env.PUBLIC_NEWT_MODEL_POST,
})
const postsContents = postsData.items
const totalPostNumber = postsContents.length
const displayPostNumber = 2
const pageNationProps = { totalPostNumber, displayPostNumber }

// const { totalPostNumber, displayPostNumber } = Astro.props
// console.log(totalPostNumber, displayPostNumber)
---

<div class="">page</div>
<Pagination
  totalPostNumber={totalPostNumber}
  displayPostNumber={displayPostNumber}
/>
